<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.planer">

    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_plan"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_plan_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name="com.example.planer.notifications.BootAlarmService" >
            <intent-filter>
                <action android:name="com.example.planer.notifications.BootAlarmService" >
                </action>
            </intent-filter>
        </service>

        <receiver android:name="com.example.planer.notifications.BootReceiver" >
            <intent-filter>
                <action android:name="com.example.planer.notifications.BootReceiver" >
                </action>
            </intent-filter>
        </receiver>

        <service android:name=".notifications.NotificationAlarmService" >
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.android.providers"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>